Package: com.local.filzaescaped
Name: FilzaApplySandboxExt
Version: 2.0.0
Architecture: iphoneos-arm64
Description: Filza sandbox escape - auto kexploit + kernel sandbox patching + root helper bypass + zip hooks
Maintainer: local
Author: local
Section: Tweaks
